body {
  max-width: 100%;
  max-height: 100vh;

  background-image: url(todo-bg.jpg);
  background-size: cover;
}
h1 {
  margin-top: 35vh;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup {
  display: flex;
  justify-content: left;
}
.usernameavailable {
  color: rgb(0, 174, 0);
  display: none;
}
.usernamenotavailable {
  color: red;
  display: none;
}
.a-signup {
  color: white;
  text-decoration: none;
  background-color: rgba(139, 0, 139, 0.4);
  margin-left: 3px;
  padding-left: 2px;
  padding-right: 2px;
}
a,
button {
  transition: all 0.1s ease-in;
  border: none;
  font-family: "Cinzel", serif;
  color: white;
  background-color: rgba(139, 0, 139, 0.4);
}
a:hover,
button:hover {
  box-shadow: 2px 0px 7px rgb(0, 132, 255), -2px 0px 7px rgb(255, 60, 0),
    0px 2px 7px rgb(180, 251, 13), 0px -2px 10px rgb(9, 255, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(225, 36, 181);
  font-family: "Cinzel", serif;
  letter-spacing: 0.2em;
}

a:active,
button:active {
  background-color: rgba(139, 0, 139, 0.6);
  transform: scale(0.8);
}
@media (max-width: 768px) {
  body {
    background-position: 40%;
  }
}
