<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=list.username%></title>
    <link rel="stylesheet" href="/list.css" />
  </head>
  <body>
    <main>
      <div class="inner-main">
        <form
          class="add-form"
          action="/kakarot/<%=list.username%>/newtodo"
          method="post"
        >
          <input
            type="text"
            name="newtodo"
            placeholder="Enter new to do here!"
            id="newtodo"
          />
          <div class="add">
            <button class="add-btn" type="submit">Add it!</button>
          </div>
        </form>
        <section>
          <ol class="lists">
            <%if(list.data.length>0){%> <%for (let li of list.data){%>
            <form action="/kakarot/<%=li%>?_method=DELETE" method="post">
              <button class="data" type="submit"><li><%=li%></li></button>
            </form>
            <% }}%>
          </ol>
        </section>
      </div>
    </main>
    <script src="listsapp.js"></script>
  </body>
</html>
